In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("100 Sales Records.csv")

In [5]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87

In [6]:
df.to_csv("isds_3200_copy.csv")

In [7]:
df_excel = pd.read_excel("sample-xlsx-file-for-testing.xlsx")

In [8]:
df_excel.to_excel("test.xlsx", sheet_name="test")

In [11]:
#This allows you to take tables from webpage
#pd.read_html()

In [12]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87

In [13]:
#to group your data by a column
by_country = df.groupby("Country")

In [15]:
by_country.mean()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Country,,,,,,,
Albania,385383069.0,2269.000000,109.280000,35.840,2.479563e+05,8.132096e+04,166635.360000
Angola,135425221.0,4187.000000,668.270000,502.540,2.798046e+06,2.104135e+06,693911.510000
Australia,283189761.0,4331.666667,301.453333,224.620,8.299778e+05,6.377761e+05,192201.706667
Austria,868214595.0,2847.000000,437.200000,263.330,1.244708e+06,7.497005e+05,495007.890000
Azerbaijan,402861845.0,4627.500000,544.205000,394.145,2.239400e+06,1.482937e+06,756463.415000
...,...,...,...,...,...,...,...
The Gambia,800142168.5,3703.250000,387.785000,285.940,1.362379e+06,1.015909e+06,346470.817500
Turkmenistan,452012574.0,4420.000000,659.740000,513.750,2.911018e+06,2.277389e+06,633629.200000
Tuvalu,669165933.0,9925.000000,255.280000,159.420,2.533654e+06,1.582244e+06,951410.500000
United Kingdom,955357205.0,282.000000,668.270000,502.540,1.884521e+05,1.417163e+05,46735.860000
Zambia,122583663.0,4085.000000,152.580000,97.440,6.232893e+05,3.980424e+05,225246.900000

In [16]:
by_country.std()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Country,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,1.506283e+08,4520.962987,313.062390,263.577242,9.426850e+05,784654.366773,159247.667326
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Azerbaijan,2.894831e+07,3686.147650,151.327922,185.000347,1.305750e+06,596787.559146,708962.462726
...,...,...,...,...,...,...,...
The Gambia,2.152095e+08,1719.410437,208.604497,180.395863,6.664118e+05,621662.610114,150109.610323
Turkmenistan,1.469826e+07,834.386002,12.063242,15.853334,4.971583e+05,498737.544856,1579.252285
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
by_country.count()

,Region,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Country,,,,,,,,,,,,,
Albania,1,1,1,1,1,1,1,1,1,1,1,1,1
Angola,1,1,1,1,1,1,1,1,1,1,1,1,1
Australia,3,3,3,3,3,3,3,3,3,3,3,3,3
Austria,1,1,1,1,1,1,1,1,1,1,1,1,1
Azerbaijan,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Gambia,4,4,4,4,4,4,4,4,4,4,4,4,4
Turkmenistan,2,2,2,2,2,2,2,2,2,2,2,2,2
Tuvalu,1,1,1,1,1,1,1,1,1,1,1,1,1
United Kingdom,1,1,1,1,1,1,1,1,1,1,1,1,1
Zambia,1,1,1,1,1,1,1,1,1,1,1,1,1

In [18]:
by_country.describe()

               Order ID                                                        \
                  count         mean           std          min           25%
Country
Albania             1.0  385383069.0           NaN  385383069.0  3.853831e+08
Angola              1.0  135425221.0           NaN  135425221.0  1.354252e+08
Australia           3.0  283189761.0  1.506283e+08  158535134.0  1.995028e+08
Austria             1.0  868214595.0           NaN  868214595.0  8.682146e+08
Azerbaijan          2.0  402861845.0  2.894831e+07  382392299.0  3.926271e+08
...                 ...          ...           ...          ...           ...
The Gambia          4.0  800142168.5  2.152095e+08  494747245.0  7.426651e+08
Turkmenistan        2.0  452012574.0  1.469826e+07  441619336.0  4.468160e+08
Tuvalu              1.0  669165933.0           NaN  669165933.0  6.691659e+08
United Kingdom      1.0  955357205.0           NaN  955357205.0  9.553572e+08
Zambia              1.0  122583663.0           NaN  122583663.0  1.225837e+08

                                                       Units Sold  \
                        50%           75%          max      count
Country
Albania         385383069.0  3.853831e+08  385383069.0        1.0
Angola          135425221.0  1.354252e+08  135425221.0        1.0
Australia       240470397.0  3.455171e+08  450563752.0        3.0
Austria         868214595.0  8.682146e+08  868214595.0        1.0
Azerbaijan      402861845.0  4.130966e+08  423331391.0        2.0
...                     ...           ...          ...        ...
The Gambia      855899607.5  9.133767e+08  994022214.0        4.0
Turkmenistan    452012574.0  4.572092e+08  462405812.0        2.0
Tuvalu          669165933.0  6.691659e+08  669165933.0        1.0
United Kingdom  955357205.0  9.553572e+08  955357205.0        1.0
Zambia          122583663.0  1.225837e+08  122583663.0        1.0

                             ...    Total Cost             Total Profit  \
                       mean  ...           75%         max        count
Country                      ...
Albania         2269.000000  ...  8.132096e+04    81320.96          1.0
Angola          4187.000000  ...  2.104135e+06  2104134.98          1.0
Australia       4331.666667  ...  9.167297e+05  1534983.04          3.0
Austria         2847.000000  ...  7.497005e+05   749700.51          1.0
Azerbaijan      4627.500000  ...  1.693933e+06  1904929.22          2.0
...                     ...  ...           ...         ...          ...
The Gambia      3703.250000  ...  1.327884e+06  1738477.23          4.0
Turkmenistan    4420.000000  ...  2.453719e+06  2630049.60          2.0
Tuvalu          9925.000000  ...  1.582244e+06  1582243.50          1.0
United Kingdom   282.000000  ...  1.417163e+05   141716.28          1.0
Zambia          4085.000000  ...  3.980424e+05   398042.40          1.0

                                                                      \
                         mean            std        min          25%
Country
Albania         166635.360000            NaN  166635.36  166635.3600
Angola          693911.510000            NaN  693911.51  693911.5100
Australia       192201.706667  159247.667326   60418.38  103725.0600
Austria         495007.890000            NaN  495007.89  495007.8900
Azerbaijan      756463.415000  708962.462726  255151.25  505807.3325
...                       ...            ...        ...          ...
The Gambia      346470.817500  150109.610323  187545.03  251390.5575
Turkmenistan    633629.200000    1579.252285  632512.50  633070.8500
Tuvalu          951410.500000            NaN  951410.50  951410.5000
United Kingdom   46735.860000            NaN   46735.86   46735.8600
Zambia          225246.900000            NaN  225246.90  225246.9000


                       50%           75%         max
Country
Albania         166635.360  1.666354e+05   166635.36
Angola          693911.510  6.939115e+05   693911.51
Australia       147031.740  2.580934e+05   369155.00
Austria         495007.890  4.950079e+05   495007.89
Azerbaijan      756463.415  1.007119e+06  1257775.58
...                    ...           ...         ...
The Gambia      332726.250  4.278065e+05   532885.74
Turkmenistan    633629.200  6.341876e+05   634745.90
Tuvalu          951410.500  9.514105e+05   951410.50
United Kingdom   46735.860  4.673586e+04    46735.86
Zambia          225246.900  2.252469e+05   225246.90

[76 rows x 56 columns]

In [19]:
by_country.describe().transpose()

Country                   Albania        Angola     Australia       Austria  \
Order ID      count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   3.853831e+08  1.354252e+08  2.831898e+08  8.682146e+08
              std             NaN           NaN  1.506283e+08           NaN
              min    3.853831e+08  1.354252e+08  1.585351e+08  8.682146e+08
              25%    3.853831e+08  1.354252e+08  1.995028e+08  8.682146e+08
              50%    3.853831e+08  1.354252e+08  2.404704e+08  8.682146e+08
              75%    3.853831e+08  1.354252e+08  3.455171e+08  8.682146e+08
              max    3.853831e+08  1.354252e+08  4.505638e+08  8.682146e+08
Units Sold    count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   2.269000e+03  4.187000e+03  4.331667e+03  2.847000e+03
              std             NaN           NaN  4.520963e+03           NaN
              min    2.269000e+03  4.187000e+03  6.820000e+02  2.847000e+03
              25%    2.269000e+03  4.187000e+03  1.803000e+03  2.847000e+03
              50%    2.269000e+03  4.187000e+03  2.924000e+03  2.847000e+03
              75%    2.269000e+03  4.187000e+03  6.156500e+03  2.847000e+03
              max    2.269000e+03  4.187000e+03  9.389000e+03  2.847000e+03
Unit Price    count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   1.092800e+02  6.682700e+02  3.014533e+02  4.372000e+02
              std             NaN           NaN  3.130624e+02           NaN
              min    1.092800e+02  6.682700e+02  4.745000e+01  4.372000e+02
              25%    1.092800e+02  6.682700e+02  1.265750e+02  4.372000e+02
              50%    1.092800e+02  6.682700e+02  2.057000e+02  4.372000e+02
              75%    1.092800e+02  6.682700e+02  4.284550e+02  4.372000e+02
              max    1.092800e+02  6.682700e+02  6.512100e+02  4.372000e+02
Unit Cost     count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   3.584000e+01  5.025400e+02  2.246200e+02  2.633300e+02
              std             NaN           NaN  2.635772e+02           NaN
              min    3.584000e+01  5.025400e+02  3.179000e+01  2.633300e+02
              25%    3.584000e+01  5.025400e+02  7.445000e+01  2.633300e+02
              50%    3.584000e+01  5.025400e+02  1.171100e+02  2.633300e+02
              75%    3.584000e+01  5.025400e+02  3.210350e+02  2.633300e+02
              max    3.584000e+01  5.025400e+02  5.249600e+02  2.633300e+02
Total Revenue count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   2.479563e+05  2.798046e+06  8.299778e+05  1.244708e+06
              std             NaN           NaN  9.426850e+05           NaN
              min    2.479563e+05  2.798046e+06  1.402874e+05  1.244708e+06
              25%    2.479563e+05  2.798046e+06  2.928977e+05  1.244708e+06
              50%    2.479563e+05  2.798046e+06  4.455080e+05  1.244708e+06
              75%    2.479563e+05  2.798046e+06  1.174823e+06  1.244708e+06
              max    2.479563e+05  2.798046e+06  1.904138e+06  1.244708e+06
Total Cost    count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   8.132096e+04  2.104135e+06  6.377761e+05  7.497005e+05
              std             NaN           NaN  7.846544e+05           NaN
              min    8.132096e+04  2.104135e+06  7.986902e+04  7.497005e+05
              25%    8.132096e+04  2.104135e+06  1.891727e+05  7.497005e+05
              50%    8.132096e+04  2.104135e+06  2.984763e+05  7.497005e+05
              75%    8.132096e+04  2.104135e+06  9.167297e+05  7.497005e+05
              max    8.132096e+04  2.104135e+06  1.534983e+06  7.497005e+05
Total Profit  count  1.000000e+00  1.000000e+00  3.000000e+00  1.000000e+00
              mean   1.666354e+05  6.939115e+05  1.922017e+05  4.950079e+05
              std             NaN           NaN  1.592477e+05           NaN
              min    1.666354e+05  6.939115e+05  6.041838e+04  4.950079e+05
              25%    1.666354e+05  6.939115e+05  1.037251e+05  4.950079e+05
              50%    1.666354e+05  6.939115e+05  1.470317e+05  4.950079e+05
              75%    1.666354e+05  6.939115e+05  2.580934e+05  4.950079e+05
              max    1.666354e+05  6.939115e+05  3.691550e+05  4.950079e+05

Country                Azerbaijan    Bangladesh        Belize        Brunei  \
Order ID      count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   4.028618e+08  1.873107e+08  8.070250e+08  3.200093e+08
              std    2.894831e+07           NaN           NaN           NaN
              min    3.823923e+08  1.873107e+08  8.070250e+08  3.200093e+08
              25%    3.926271e+08  1.873107e+08  8.070250e+08  3.200093e+08
              50%    4.028618e+08  1.873107e+08  8.070250e+08  3.200093e+08
              75%    4.130966e+08  1.873107e+08  8.070250e+08  3.200093e+08
              max    4.233314e+08  1.873107e+08  8.070250e+08  3.200093e+08
Units Sold    count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   4.627500e+03  8.263000e+03  5.498000e+03  6.708000e+03
              std    3.686148e+03           NaN           NaN           NaN
              min    2.021000e+03  8.263000e+03  5.498000e+03  6.708000e+03
              25%    3.324250e+03  8.263000e+03  5.498000e+03  6.708000e+03
              50%    4.627500e+03  8.263000e+03  5.498000e+03  6.708000e+03
              75%    5.930750e+03  8.263000e+03  5.498000e+03  6.708000e+03
              max    7.234000e+03  8.263000e+03  5.498000e+03  6.708000e+03
Unit Price    count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   5.442050e+02  1.092800e+02  1.092800e+02  6.512100e+02
              std    1.513279e+02           NaN           NaN           NaN
              min    4.372000e+02  1.092800e+02  1.092800e+02  6.512100e+02
              25%    4.907025e+02  1.092800e+02  1.092800e+02  6.512100e+02
              50%    5.442050e+02  1.092800e+02  1.092800e+02  6.512100e+02
              75%    5.977075e+02  1.092800e+02  1.092800e+02  6.512100e+02
              max    6.512100e+02  1.092800e+02  1.092800e+02  6.512100e+02
Unit Cost     count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   3.941450e+02  3.584000e+01  3.584000e+01  5.249600e+02
              std    1.850003e+02           NaN           NaN           NaN
              min    2.633300e+02  3.584000e+01  3.584000e+01  5.249600e+02
              25%    3.287375e+02  3.584000e+01  3.584000e+01  5.249600e+02
              50%    3.941450e+02  3.584000e+01  3.584000e+01  5.249600e+02
              75%    4.595525e+02  3.584000e+01  3.584000e+01  5.249600e+02
              max    5.249600e+02  3.584000e+01  3.584000e+01  5.249600e+02
Total Revenue count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   2.239400e+06  9.029806e+05  6.008214e+05  4.368317e+06
              std    1.305750e+06           NaN           NaN           NaN
              min    1.316095e+06  9.029806e+05  6.008214e+05  4.368317e+06
              25%    1.777748e+06  9.029806e+05  6.008214e+05  4.368317e+06
              50%    2.239400e+06  9.029806e+05  6.008214e+05  4.368317e+06
              75%    2.701052e+06  9.029806e+05  6.008214e+05  4.368317e+06
              max    3.162705e+06  9.029806e+05  6.008214e+05  4.368317e+06
Total Cost    count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   1.482937e+06  2.961459e+05  1.970483e+05  3.521432e+06
              std    5.967876e+05           NaN           NaN           NaN
              min    1.060944e+06  2.961459e+05  1.970483e+05  3.521432e+06
              25%    1.271940e+06  2.961459e+05  1.970483e+05  3.521432e+06
              50%    1.482937e+06  2.961459e+05  1.970483e+05  3.521432e+06
              75%    1.693933e+06  2.961459e+05  1.970483e+05  3.521432e+06
              max    1.904929e+06  2.961459e+05  1.970483e+05  3.521432e+06
Total Profit  count  2.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
              mean   7.564634e+05  6.068347e+05  4.037731e+05  8.468850e+05
              std    7.089625e+05           NaN           NaN           NaN
              min    2.551512e+05  6.068347e+05  4.037731e+05  8.468850e+05
              25%    5.058073e+05  6.068347e+05  4.037731e+05  8.468850e+05
              50%    7.564634e+05  6.068347e+05  4.037731e+05  8.468850e+05
              75%    1.007119e+06  6.068347e+05  4.037731e+05  8.468850e+05
              max    1.257776e+06  6.068347e+05  4.037731e+05  8.468850e+05

Country                  Bulgaria  Burkina Faso  ...   South Sudan  \
Order ID      count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   5.811290e+08  8.715440e+08  ...  4.065030e+08
              std    5.531881e+08           NaN  ...           NaN
              min    1.899659e+08  8.715440e+08  ...  4.065030e+08
              25%    3.855474e+08  8.715440e+08  ...  4.065030e+08
              50%    5.811290e+08  8.715440e+08  ...  4.065030e+08
              75%    7.767105e+08  8.715440e+08  ...  4.065030e+08
              max    9.722920e+08  8.715440e+08  ...  4.065030e+08
Units Sold    count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   2.830000e+03  8.082000e+03  ...  2.125000e+03
              std    1.636245e+03           NaN  ...           NaN
              min    1.673000e+03  8.082000e+03  ...  2.125000e+03
              25%    2.251500e+03  8.082000e+03  ...  2.125000e+03
              50%    2.830000e+03  8.082000e+03  ...  2.125000e+03
              75%    3.408500e+03  8.082000e+03  ...  2.125000e+03
              max    3.987000e+03  8.082000e+03  ...  2.125000e+03
Unit Price    count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   3.802450e+02  1.540600e+02  ...  8.173000e+01
              std    3.832024e+02           NaN  ...           NaN
              min    1.092800e+02  1.540600e+02  ...  8.173000e+01
              25%    2.447625e+02  1.540600e+02  ...  8.173000e+01
              50%    3.802450e+02  1.540600e+02  ...  8.173000e+01
              75%    5.157275e+02  1.540600e+02  ...  8.173000e+01
              max    6.512100e+02  1.540600e+02  ...  8.173000e+01
Unit Cost     count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   2.804000e+02  9.093000e+01  ...  5.667000e+01
              std    3.458601e+02           NaN  ...           NaN
              min    3.584000e+01  9.093000e+01  ...  5.667000e+01
              25%    1.581200e+02  9.093000e+01  ...  5.667000e+01
              50%    2.804000e+02  9.093000e+01  ...  5.667000e+01
              75%    4.026800e+02  9.093000e+01  ...  5.667000e+01
              max    5.249600e+02  9.093000e+01  ...  5.667000e+01
Total Revenue count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   1.389600e+06  1.245113e+06  ...  1.736762e+05
              std    1.706637e+06           NaN  ...           NaN
              min    1.828254e+05  1.245113e+06  ...  1.736762e+05
              25%    7.862126e+05  1.245113e+06  ...  1.736762e+05
              50%    1.389600e+06  1.245113e+06  ...  1.736762e+05
              75%    1.992987e+06  1.245113e+06  ...  1.736762e+05
              max    2.596374e+06  1.245113e+06  ...  1.736762e+05
Total Cost    count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   1.076488e+06  7.348963e+05  ...  1.204238e+05
              std    1.437587e+06           NaN  ...           NaN
              min    5.996032e+04  7.348963e+05  ...  1.204238e+05
              25%    5.682241e+05  7.348963e+05  ...  1.204238e+05
              50%    1.076488e+06  7.348963e+05  ...  1.204238e+05
              75%    1.584752e+06  7.348963e+05  ...  1.204238e+05
              max    2.093016e+06  7.348963e+05  ...  1.204238e+05
Total Profit  count  2.000000e+00  1.000000e+00  ...  1.000000e+00
              mean   3.131119e+05  5.102167e+05  ...  5.325250e+04
              std    2.690496e+05           NaN  ...           NaN
              min    1.228651e+05  5.102167e+05  ...  5.325250e+04
              25%    2.179885e+05  5.102167e+05  ...  5.325250e+04
              50%    3.131119e+05  5.102167e+05  ...  5.325250e+04
              75%    4.082353e+05  5.102167e+05  ...  5.325250e+04
              max    5.033588e+05  5.102167e+05  ...  5.325250e+04

Country                     Spain     Sri Lanka   Switzerland         Syria  \
Order ID      count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   2.134874e+08  4.191240e+08  4.336802e+08  1.620525e+08
              std             NaN           NaN  2.601967e+08           NaN
              min    2.134874e+08  4.191240e+08  2.496933e+08  1.620525e+08
              25%    2.134874e+08  4.191240e+08  3.416868e+08  1.620525e+08
              50%    2.134874e+08  4.191240e+08  4.336802e+08  1.620525e+08
              75%    2.134874e+08  4.191240e+08  5.256737e+08  1.620525e+08
              max    2.134874e+08  4.191240e+08  6.176671e+08  1.620525e+08
Units Sold    count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   4.513000e+03  6.952000e+03  4.467000e+03  3.784000e+03
              std             NaN           NaN  5.931212e+03           NaN
              min    4.513000e+03  6.952000e+03  2.730000e+02  3.784000e+03
              25%    4.513000e+03  6.952000e+03  2.370000e+03  3.784000e+03
              50%    4.513000e+03  6.952000e+03  4.467000e+03  3.784000e+03
              75%    4.513000e+03  6.952000e+03  6.564000e+03  3.784000e+03
              max    4.513000e+03  6.952000e+03  8.661000e+03  3.784000e+03
Unit Price    count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   6.682700e+02  4.372000e+02  2.594650e+02  9.330000e+00
              std             NaN           NaN  2.513552e+02           NaN
              min    6.682700e+02  4.372000e+02  8.173000e+01  9.330000e+00
              25%    6.682700e+02  4.372000e+02  1.705975e+02  9.330000e+00
              50%    6.682700e+02  4.372000e+02  2.594650e+02  9.330000e+00
              75%    6.682700e+02  4.372000e+02  3.483325e+02  9.330000e+00
              max    6.682700e+02  4.372000e+02  4.372000e+02  9.330000e+00
Unit Cost     count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   5.025400e+02  2.633300e+02  1.600000e+02  6.920000e+00
              std             NaN           NaN  1.461307e+02           NaN
              min    5.025400e+02  2.633300e+02  5.667000e+01  6.920000e+00
              25%    5.025400e+02  2.633300e+02  1.083350e+02  6.920000e+00
              50%    5.025400e+02  2.633300e+02  1.600000e+02  6.920000e+00
              75%    5.025400e+02  2.633300e+02  2.116650e+02  6.920000e+00
              max    5.025400e+02  2.633300e+02  2.633300e+02  6.920000e+00
Total Revenue count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   3.015903e+06  3.039414e+06  1.904451e+06  3.530472e+04
              std             NaN           NaN  2.661746e+06           NaN
              min    3.015903e+06  3.039414e+06  2.231229e+04  3.530472e+04
              25%    3.015903e+06  3.039414e+06  9.633815e+05  3.530472e+04
              50%    3.015903e+06  3.039414e+06  1.904451e+06  3.530472e+04
              75%    3.015903e+06  3.039414e+06  2.845520e+06  3.530472e+04
              max    3.015903e+06  3.039414e+06  3.786589e+06  3.530472e+04
Total Cost    count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   2.267963e+06  1.830670e+06  1.148086e+06  2.618528e+04
              std             NaN           NaN  1.601760e+06           NaN
              min    2.267963e+06  1.830670e+06  1.547091e+04  2.618528e+04
              25%    2.267963e+06  1.830670e+06  5.817785e+05  2.618528e+04
              50%    2.267963e+06  1.830670e+06  1.148086e+06  2.618528e+04
              75%    2.267963e+06  1.830670e+06  1.714394e+06  2.618528e+04
              max    2.267963e+06  1.830670e+06  2.280701e+06  2.618528e+04
Total Profit  count  1.000000e+00  1.000000e+00  2.000000e+00  1.000000e+00
              mean   7.479395e+05  1.208744e+06  7.563647e+05  9.119440e+03
              std             NaN           NaN  1.059986e+06           NaN
              min    7.479395e+05  1.208744e+06  6.841380e+03  9.119440e+03
              25%    7.479395e+05  1.208744e+06  3.816031e+05  9.119440e+03
              50%    7.479395e+05  1.208744e+06  7.563647e+05  9.119440e+03
              75%    7.479395e+05  1.208744e+06  1.131126e+06  9.119440e+03
              max    7.479395e+05  1.208744e+06  1.505888e+06  9.119440e+03

Country                The Gambia  Turkmenistan        Tuvalu  United Kingdom  \
Order ID      count  4.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
              mean   8.001422e+08  4.520126e+08  6.691659e+08    9.553572e+08
              std    2.152095e+08  1.469826e+07           NaN             NaN
              min    4.947472e+08  4.416193e+08  6.691659e+08    9.553572e+08
              25%    7.426651e+08  4.468160e+08  6.691659e+08    9.553572e+08
              50%    8.558996e+08  4.520126e+08  6.691659e+08    9.553572e+08
              75%    9.133767e+08  4.572092e+08  6.691659e+08    9.553572e+08
              max    9.940222e+08  4.624058e+08  6.691659e+08    9.553572e+08
Units Sold    count  4.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
              mean   3.703250e+03  4.420000e+03  9.925000e+03    2.820000e+02
              std    1.719410e+03  8.343860e+02           NaN             NaN
              min    2.117000e+03  3.830000e+03  9.925000e+03    2.820000e+02
              25%    2.306750e+03  4.125000e+03  9.925000e+03    2.820000e+02
              50%    3.568500e+03  4.420000e+03  9.925000e+03    2.820000e+02
              75%    4.965000e+03  4.715000e+03  9.925000e+03    2.820000e+02
              max    5.559000e+03  5.010000e+03  9.925000e+03    2.820000e+02
Unit Price    count  4.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
              mean   3.877850e+02  6.597400e+02  2.552800e+02    6.682700e+02
              std    2.086045e+02  1.206324e+01           NaN             NaN
              min    2.057000e+02  6.512100e+02  2.552800e+02    6.682700e+02
              25%    2.428850e+02  6.554750e+02  2.552800e+02    6.682700e+02
              50%    3.385850e+02  6.597400e+02  2.552800e+02    6.682700e+02
              75%    4.834850e+02  6.640050e+02  2.552800e+02    6.682700e+02
              max    6.682700e+02  6.682700e+02  2.552800e+02    6.682700e+02
Unit Cost     count  4.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
              mean   2.859400e+02  5.137500e+02  1.594200e+02    5.025400e+02
              std    1.803959e+02  1.585333e+01           NaN             NaN
              min    1.171100e+02  5.025400e+02  1.594200e+02    5.025400e+02
              25%    1.488425e+02  5.081450e+02  1.594200e+02    5.025400e+02
              50%    2.620550e+02  5.137500e+02  1.594200e+02    5.025400e+02
              75%    3.991525e+02  5.193550e+02  1.594200e+02    5.025400e+02
              max    5.025400e+02  5.249600e+02  1.594200e+02    5.025400e+02
Total Revenue count  4.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
              mean   1.362379e+06  2.911018e+06  2.533654e+06    1.884521e+05
              std    6.664118e+05  4.971583e+05           NaN             NaN
              min    4.354669e+05  2.559474e+06  2.533654e+06    1.884521e+05
              25%    1.173193e+06  2.735246e+06  2.533654e+06    1.884521e+05
              50%    1.501451e+06  2.911018e+06  2.533654e+06    1.884521e+05
              75%    1.690637e+06  3.086790e+06  2.533654e+06    1.884521e+05

In [22]:
by_country.describe().transpose()["Australia"]

Order ID       count    3.000000e+00
               mean     2.831898e+08
               std      1.506283e+08
               min      1.585351e+08
               25%      1.995028e+08
               50%      2.404704e+08
               75%      3.455171e+08
               max      4.505638e+08
Units Sold     count    3.000000e+00
               mean     4.331667e+03
               std      4.520963e+03
               min      6.820000e+02
               25%      1.803000e+03
               50%      2.924000e+03
               75%      6.156500e+03
               max      9.389000e+03
Unit Price     count    3.000000e+00
               mean     3.014533e+02
               std      3.130624e+02
               min      4.745000e+01
               25%      1.265750e+02
               50%      2.057000e+02
               75%      4.284550e+02
               max      6.512100e+02
Unit Cost      count    3.000000e+00
               mean     2.246200e+02
               std      2.635772e+02
               min      3.179000e+01
               25%      7.445000e+01
               50%      1.171100e+02
               75%      3.210350e+02
               max      5.249600e+02
Total Revenue  count    3.000000e+00
               mean     8.299778e+05
               std      9.426850e+05
               min      1.402874e+05
               25%      2.928977e+05
               50%      4.455080e+05
               75%      1.174823e+06
               max      1.904138e+06
Total Cost     count    3.000000e+00
               mean     6.377761e+05
               std      7.846544e+05
               min      7.986902e+04
               25%      1.891727e+05
               50%      2.984763e+05
               75%      9.167297e+05
               max      1.534983e+06
Total Profit   count    3.000000e+00
               mean     1.922017e+05
               std      1.592477e+05
               min      6.041838e+04
               25%      1.037251e+05
               50%      1.470317e+05
               75%      2.580934e+05
               max      3.691550e+05
Name: Australia, dtype: float64

In [23]:
import numpy as np
missing_data = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})

In [24]:
missing_data

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [25]:
missing_data.dropna()

     A    B  C
0  1.0  5.0  1

In [26]:
missing_data.dropna(axis=1)

   C
0  1
1  2
2  3

In [27]:
#if python finds that there are two instances of missing data it will drop that entity *by row*
missing_data.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [28]:
missing_data.fillna(value='dummy')

       A      B  C
0    1.0    5.0  1
1    2.0  dummy  2
2  dummy  dummy  3

In [30]:
#instead of getting rid of rows with null values, fill it with something like the mean of a column
missing_data['A'].fillna(value=missing_data['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64